/* Styles for validation helpers
-----------------------------------------------------------*/
body
{
    font-family: Arial, David, Verdana;
     font-size: 20px;
    direction: rtl;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.tbl
{
    width: 1200px;
    height: 500px;
    border: 3px solid #000000;
    border-collapse: collapse; 
}

.tbl td
{
    border: 3px solid #000000;
    border-collapse: collapse;
}
