/* Styles for validation helpers
-----------------------------------------------------------*/
body
{
    font-family: Arial, David, Verdana;
    font-size: 20px;
    direction: rtl;
    background-image:url('bac3.jpg');
     
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.tbl
{
    width: 1200px;
    height: 500px;
    border: 3px solid #000000;
    border-collapse: collapse;
    background-color:White;
}


.tbl td
{
    border: 1px solid #000000;
    border-collapse: collapse;
    width:120px;
    font-size:16px;
    height:100px;
}

.headline_table td
{
    /* background-color:#FF800D; */
    background-color:#CC1919;
    font-weight:bold;
    color:White;
    height:10px;
}

.time_col
{
    background-color:#CC1919;
    font-weight:bold;
    color:White;    
}
.tbl_student_details
{
    border: 1px solid #000000;
    background-color:White;
}

.tbl_student_details td
{
    padding-left:10px;
    font-size:medium;
    font-weight:bold;   
}

.tbl_courses
{
    border:0;
}

.tbl_courses td
{
    border:0;
    font-size:small;
    height:auto;
}

.stt
{
    font-size:40px;
    color:White;
    font-weight:bold;
}
